{% extends "layout.html" %}

{% block title %}
Menu
{% endblock %}

{% block body %}
<header>
    The Wheel
</header>
<main>
    <h2>Menu</h2>
    <div>
        <form action="/spin" method="get">
            <button type="submit">Spin the Wheel</button>
        </form>
        <form action="/wheels">
            <button type="submit">Wheel Management</button>
        </form>
        <form action="/tags">
            <button type="submit">Tag Management</button>
        </form>
    </div>
</main>
{% endblock %}